[submodule "submodule/imgui"]
	path = submodule/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "submodule/glfw"]
	path = submodule/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodule/gl3w"]
	path = submodule/gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "submodule/rapidjson"]
	path = submodule/rapidjson
	url = https://github.com/Tencent/rapidjson.git
